* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    padding: 10px 0;
}

.todo-cell {
    width: 60%;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
}

.todo-complete {
    position: relative;
    border-color: #61dafb;
}

.todo-complete::after {
    content: '✓';
    position: absolute;
    top: 50%;
    right: 10px;
    color: #61dafb;
    transform: translateY(-50%);
}

.todo-btn {
    margin: 0 4px;
    padding: 2px;
    border: 1px solid #999;
    outline: none;
}

.todo-btn:hover {
    cursor: pointer;
}

.todo-complete {
    text-decoration: line-through;
}


input {
    padding: 2px;
    border: 1px solid #eee;
    outline: none;
    margin: 0 10px;
}

input:focus {
    border: 1px solid #61dafb;
}

form {
    text-align: center;
    padding: 10px;
}


.slide-container {
    width: 60%;
    margin: 0 auto;
    position: relative;
}
.slide-img {
    width: 100%;
}

.slide-title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 36px;
    height: 72px;
    padding-top: 12px;
    text-align: center;
}

.slide-btn:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.2);
    border: 0;
}

.slide-btn-left {
    left: 0;
}

.slide-btn-right {
    right: 0;
}

.indicators {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.indicator-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.2);
    border: 0;
}

.indicator-btn-cur {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

.todo-table {
    display: table;
    margin: 10px auto;

}

.todo-row {
    display: table-row;
}

.todo-row:not(:first-child) {
    margin-top: -1px;
}

.cell {
    display: table-cell;
    width: 100px;
    text-align: center;
    border: 1px solid #eee;
}

